Repository massalabs/station-massa-wallet, pull requests merged in 2023-05, with the labels that each got.

#143 implement select screen
  web-frontend/package-lock.json
  web-frontend/src/main.tsx
  web-frontend/src/pages/AccountList.tsx
  web-frontend/src/pages/SelectAccount/SelectAccount.tsx
Labels: enhancement, Frontend

#182 Setup Tailwind in wails front-end
  wails-frontend/package-lock.json
  wails-frontend/package.json
  wails-frontend/package.json.md5
  wails-frontend/postcss.config.js
  wails-frontend/src/App.css
  wails-frontend/src/app.tsx
  wails-frontend/src/index.css
  wails-frontend/src/main.tsx
  wails-frontend/tailwind.config.js
  wails-frontend/wailsjs/runtime/package.json
  wails-frontend/wailsjs/runtime/runtime.d.ts
  wails-frontend/wailsjs/runtime/runtime.js
Labels: Frontend

#178 add create acc stp1
  web-frontend/src/main.tsx
  web-frontend/src/pages/CreateAccount.tsx
  web-frontend/src/pages/CreateAccount/StepOne.tsx
Labels: Frontend

#206 wails: add default theme class
  wails-frontend/index.html
Labels: Frontend

#226 wails: update password prompt req message
  pkg/prompt/createPassword.go
Labels: Frontend

#225 wails : add first screen for define password
  wails-frontend/package-lock.json
  wails-frontend/src/pages/passwordPrompt.tsx
Labels: Frontend

#227 wails: add default layout
  wails-frontend/src/layouts/Layout/Layout.tsx
Labels: Frontend

#237 wails: update react-ui-kit version
  wails-frontend/package-lock.json
Labels: Frontend

#236 wails : remove outline on input focus
  wails-frontend/src/index.css
Labels: Frontend

#239 wails: revamp form password
  wails-frontend/package-lock.json
  wails-frontend/src/pages/passwordPrompt.tsx
  wails-frontend/src/utils/parseForm.tsx
  wails-frontend/src/validation/password.tsx
Labels: Frontend

#235 refactor: add AddressIsUnique function
  pkg/wallet/wallet.go
Labels: action:merge

#243 wails: update react-ui-kit packages
  wails-frontend/package-lock.json
Labels: Frontend

#246 web: fix react ui-kit import
  wails-frontend/package-lock.json
  web-frontend/package-lock.json
  web-frontend/src/pages/SelectAccount/SelectAccount.tsx
Labels: Frontend

#245 web: fix redirection define password
  wails-frontend/package-lock.json
  web-frontend/package-lock.json
  web-frontend/src/custom/api/usePost.ts
  web-frontend/src/i18n/en_US.json
  web-frontend/src/main.tsx
  web-frontend/src/pages/CreateAccount/StepOne.tsx
  web-frontend/src/pages/CreateAccount/StepTwo.tsx
  web-frontend/src/pages/SelectAccount/SelectAccount.tsx
  web-frontend/src/pages/Welcome/Welcome.tsx
  web-frontend/src/utils/parseForm.tsx
Labels: Frontend

#249 web: update step3 and add account
  web-frontend/src/i18n/en_US.json
  web-frontend/src/pages/AddAccount/AddAccount.tsx
  web-frontend/src/pages/CreateAccount/StepThree.tsx
Labels: Frontend

#273 wails: complete private key import method
  wails-frontend/src/main.tsx
  wails-frontend/src/pages/ImportPrivateKey/PromptNickname.tsx
  wails-frontend/src/pages/ImportPrivateKey/PromptPrivateKey.tsx
  wails-frontend/src/pages/newPassword.tsx
Labels: Frontend
