Repository massalabs/station-massa-wallet, pull requests merged in 2023-07, with the labels that each got.

#499 wails: update Sign ts screen
  wails-frontend/src/pages/passwordPrompt.tsx
Labels: Frontend

#497 Adjust backup screen
  wails-frontend/src/layouts/Layout/Layout.tsx
Labels: action:merge

#501 Remove Unused Exports
  web-frontend/src/layouts/WalletLayout/WalletLayout.tsx
  web-frontend/src/pages/Base/Base.tsx
  web-frontend/src/pages/TransferCoins/SendCoins/Advanced.tsx
Labels: action:merge

#505 wails & web: update sign tx screen
  wails-frontend/src/pages/passwordPrompt.tsx
  web-frontend/src/i18n/en_US.json
  web-frontend/src/pages/TransferCoins/SendCoins/SendConfirmation.tsx
Labels: action:merge, Frontend

#506 Format address
  wails-frontend/src/pages/backupKeyPairs.tsx
  web-frontend/src/pages/Home/Home.tsx
  web-frontend/src/pages/TransferCoins/ReceiveCoins/GenerateLink.tsx
  web-frontend/src/pages/TransferCoins/ReceiveCoins/ReceiveCoins.tsx
Labels: action:merge

#518 wallet: fix task for build & run on windows
  README.md
  Taskfile.yml
Labels: Frontend

#517 web: fix redirect after import wallet
  web-frontend/src/pages/AccountSelect/AccountSelect.tsx
  web-frontend/src/pages/Index/Index.tsx
Labels: Frontend

#521 web: add absolute path
  web-frontend/src/layouts/WalletLayout/WalletLayout.tsx
  web-frontend/src/main.tsx
  web-frontend/src/pages/AccountCreate/AccountCreate.tsx
  web-frontend/src/pages/AccountSelect/AccountSelect.tsx
  web-frontend/src/pages/AccountSelect/Loading.tsx
  web-frontend/src/pages/Assets/Assets.tsx
  web-frontend/src/pages/Base/Base.tsx
  web-frontend/src/pages/Contacts/Contacts.tsx
  web-frontend/src/pages/CreateAccount/StepOne.tsx
  web-frontend/src/pages/CreateAccount/StepThree.tsx
  web-frontend/src/pages/CreateAccount/StepTwo.tsx
  web-frontend/src/pages/Error.tsx
  web-frontend/src/pages/Home/Home.tsx
  web-frontend/src/pages/Index/Index.tsx
  web-frontend/src/pages/Index/Loading.tsx
  web-frontend/src/pages/Settings/Settings.tsx
  web-frontend/src/pages/Settings/SettingsOption.tsx
  web-frontend/src/pages/Settings/SettingsUpdate.tsx
  web-frontend/src/pages/Transactions/Transactions.tsx
  web-frontend/src/pages/TransferCoins/ReceiveCoins/GenerateLink.tsx
  web-frontend/src/pages/TransferCoins/ReceiveCoins/ReceiveCoins.tsx
  web-frontend/src/pages/TransferCoins/SendCoins/Advanced.tsx
  web-frontend/src/pages/TransferCoins/SendCoins/ContactList.tsx
  web-frontend/src/pages/TransferCoins/SendCoins/SendCoins.tsx
  web-frontend/src/pages/TransferCoins/SendCoins/SendConfirmation.tsx
  web-frontend/src/pages/TransferCoins/SendCoins/SendForm.tsx
  web-frontend/src/pages/TransferCoins/SendCoins/SendRedirect.tsx
  web-frontend/src/pages/TransferCoins/TransferCoins.tsx
  web-frontend/src/utils/index.ts
  web-frontend/src/utils/parseErrors.tsx
  web-frontend/src/utils/routeFor.ts
  web-frontend/src/validation/nickname.tsx
  web-frontend/src/validation/sendInputs.tsx
  web-frontend/tsconfig.json
  web-frontend/vite.config.ts
Labels: Frontend

#522 wails: add absolute path
  wails-frontend/src/main.tsx
  wails-frontend/src/pages/ImportPrivateKey/PromptNickname.tsx
  wails-frontend/src/pages/ImportPrivateKey/PromptPrivateKey.tsx
  wails-frontend/src/pages/backupKeyPairs.tsx
  wails-frontend/src/pages/backupMethods.tsx
  wails-frontend/src/pages/confirmDelete.tsx
  wails-frontend/src/pages/failure.tsx
  wails-frontend/src/pages/importFile.tsx
  wails-frontend/src/pages/importMethods.tsx
  wails-frontend/src/pages/newPassword.tsx
  wails-frontend/src/pages/passwordPrompt.tsx
  wails-frontend/src/pages/success.tsx
  wails-frontend/src/utils/handleApplyResult.tsx
  wails-frontend/src/utils/index.tsx
  wails-frontend/tsconfig.json
  wails-frontend/vite.config.ts
Labels: Frontend

#519 wallet: migrate mirage from js to ts
  web-frontend/src/main.tsx
  web-frontend/src/mirage/config.ts
  web-frontend/src/mirage/factories/account.ts
  web-frontend/src/mirage/factories/index.ts
  web-frontend/src/mirage/factories/transfer.ts
  web-frontend/src/mirage/handlers/account.ts
  web-frontend/src/mirage/handlers/index.ts
  web-frontend/src/mirage/index.ts
  web-frontend/src/mirage/models/index.ts
  web-frontend/src/mirage/server.js
  web-frontend/src/mirage/types.ts
  web-frontend/src/models/TransferModel.ts
  web-frontend/tsconfig.json
Labels: Frontend
